@import "tailwindcss";

.font-noto-sans {
  font-family: var(--font-noto-sans);
}

.font-roboto-serif {
  font-family: var(--font-roboto-serif);
}

.disable-anti-aliasing {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}